
<h1><%= @artist%></h1>
<%= image_tag(@image, :size => '200x200') %>

<h4>Top Tracks</h4>

<% @uri.each do |u| %>

<iframe src="https://open.spotify.com/embed?uri=<%= u.uri %>" 
        frameborder="0" allowtransparency="true"></iframe>

<% end %>