<% if @result.count > 1 %>
    <% @result.each do |artist| %>
        <p>Artist: <%= link_to(artist.name , {:controller => 'spotify', :action => 'artist', :id => artist.name}) %>
                |Followers: <%= artist.followers['total'] %>
        </p>
    <%end%>
<%else %>
    <p>No Artist Found!</p>
<% end %>

